@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url(../fonts/roboto-400-normal.woff2?69eee0b43d46be3ad91ef75a76ea3959) format("woff2"), url(../fonts/roboto-400-normal.woff?58bf8e0bd1dd213bf745e9d748caf175) format("woff"), url(../fonts/roboto-400-normal.ttf?c613ca81d36649b260700f3335d8f579) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/roboto-500-normal.woff2?4a34361b26e9896ea1b5065708f8daea) format("woff2"), url(../fonts/roboto-500-normal.woff?6422eac71f54ee5cd007dcf46fc0d22d) format("woff"), url(../fonts/roboto-500-normal.ttf?38aa81d461c299fa9f0cb27726401996) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/roboto-700-normal.woff2?15a913e1228cca9b1247b373bdf27e55) format("woff2"), url(../fonts/roboto-700-normal.woff?7bf74824d7a8b3c08fe5956f93e9ce2a) format("woff"), url(../fonts/roboto-700-normal.ttf?1fc6a83d1e366dfe7babb690d33ba6fb) format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e5e1e6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.box {
  padding: 0;
  margin: 0 auto;
  position: relative;
  top: 48px;
  background-color: white;
  display: flex;
}

.box .panel {
  width: 300px;
  margin-left: 400px;
}

.box .panel .toptext {
  margin: 0 15px;
  padding: 30px 0 0 25px;
  color: #a09ac1;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.box .panel ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  border-top: 2px solid #e5e1e6;
}

.box .panel ul li {
  display: list-item;
  border-bottom: 2px solid #e5e1e6;
  list-style-type: none;
}

.box .panel ul li a {
  display: block;
  margin: 0;
  padding: 12px 40px;
  position: relative;
  color: #403a60;
  line-height: 24px;
  font-size: 14px;
  text-decoration: none;
}

.box .content {
  width: auto;
  display: block;
}

.box .content .first {
  display: flex;
}

.box .content .first .one {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  background-color: black;
}

.box .content .first .one .toptext {
  display: block;
  height: 28px;
  margin: 50px 0 0 40px;
  padding: 0 10px;
  float: left;
  border: 2px solid #d3ced6;
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.box .content .first .one .middletext {
  display: block;
  margin: 170px 0 10px 40px;
  padding: 0;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.box .content .first .one .bottext {
  margin: 0 0 0 40px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.box .content .first .two {
  width: 600px;
  height: 300px;
  border: 1px solid white;
  background-color: black;
}

.box .content .first .two .toptext {
  display: block;
  height: 28px;
  margin: 50px 0 0 40px;
  padding: 0 10px;
  float: left;
  border: 2px solid #d3ced6;
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.box .content .first .two .middletext {
  display: block;
  margin: 170px 0 10px 40px;
  padding: 0;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.box .content .first .two .bottext {
  margin: 0 0 0 40px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.box .content .second {
  display: flex;
}

.box .content .second .three {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  background-color: black;
}

.box .content .second .three .toptext {
  display: block;
  height: 28px;
  margin: 50px 0 0 40px;
  padding: 0 10px;
  float: left;
  border: 2px solid #d3ced6;
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.box .content .second .three .middletext {
  display: block;
  margin: 170px 0 10px 40px;
  padding: 0;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.box .content .second .three .bottext {
  margin: 0 0 0 40px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.box .content .second .four {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  background-color: black;
}

.box .content .second .four .toptext {
  display: block;
  height: 28px;
  margin: 50px 0 0 40px;
  padding: 0 10px;
  float: left;
  border: 2px solid #d3ced6;
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.box .content .second .four .middletext {
  display: block;
  margin: 170px 0 10px 40px;
  padding: 0;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.box .content .second .four .bottext {
  margin: 0 0 0 40px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.box .content .second .five {
  width: 298px;
  height: 300px;
  border: 1px solid white;
  background-color: black;
}

.box .content .second .five .toptext {
  display: block;
  height: 28px;
  margin: 50px 0 0 40px;
  padding: 0 10px;
  float: left;
  border: 2px solid #d3ced6;
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.box .content .second .five .middletext {
  display: block;
  margin: 170px 0 10px 40px;
  padding: 0;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.box .content .second .five .bottext {
  margin: 0 0 0 40px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.box .content .thirst {
  display: flex;
}

.box .content .thirst .six {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  background-color: black;
}

.box .content .thirst .six .toptext {
  display: block;
  height: 28px;
  margin: 50px 0 0 40px;
  padding: 0 10px;
  float: left;
  border: 2px solid #d3ced6;
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.box .content .thirst .six .middletext {
  display: block;
  margin: 170px 0 10px 40px;
  padding: 0;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.box .content .thirst .six .bottext {
  margin: 0 0 0 40px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.box .content .thirst .seven {
  width: 600px;
  height: 300px;
  border: 1px solid white;
  background-color: black;
}

.box .content .thirst .seven .toptext {
  display: block;
  height: 28px;
  margin: 50px 0 0 40px;
  padding: 0 10px;
  float: left;
  border: 2px solid #d3ced6;
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.box .content .thirst .seven .middletext {
  display: block;
  margin: 170px 0 10px 40px;
  padding: 0;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.box .content .thirst .seven .bottext {
  margin: 0 0 0 40px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

